/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= stub twbs-variables
 *= stub login
 *= require twbs
 *= require_tree .

 */

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.coords {
  margin-top: -10px !important;
  margin-bottom: 15px !important;
  font-weight: lighter;
}

.input-group-edituser {
  max-width: 300px;
}

.dashboard_cards {
  padding: 20px;
  border-top: 1px solid lightgrey;
}

.dashboard_cards_img {
  width: 100px;
  margin: 0 0 10px 0;
}

.dashboard_description {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #18f8f8;
  span {
    font-size: small;
  }
}

.dashboard_itinerary_icons {
  i.fa {
    margin: 10px 10px 20px 10px;
    font-size: x-large;
    color: #666;
  }
  i{
    color: #666;
    font-size: x-small;
  }
}

#dummy_dashboard_card {
  padding: 50px;
  margin: 30px;
  background-color: #18f8f8;
  border-radius: 10px;
}

