@font-face {
	font-family: "ship18";
	src: font-url("flaticon.eot");
	src: font-url("flaticon.eot?#iefix") format("embedded-opentype"),
	font-url("flaticon.woff") format("woff"),
	font-url("flaticon.ttf") format("truetype"),
	font-url("flaticon.svg#ship18") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: ship18;
font-style: normal;
margin-left: 20px;
}

.flaticon-ship18-150:before {
	content: "\e000";
	 font-size: 150px;
}

.flaticon-ship18-70:before {
	 content: "\e000";
	 font-size: 70px;
 }
