@font-face {
  font-family: "Flaticon";
  src: font-url("flaticon.eot");
  src: font-url("flaticon.eot#iefix") format("embedded-opentype"),
  font-url("flaticon.woff") format("woff"),
  font-url("flaticon.ttf") format("truetype"),
  font-url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 25px;
  font-style: normal;
}.flaticon-boat17:before {
   content: "\e000";
 }
.flaticon-dog7:before {
  content: "\e001";
}
.flaticon-no-smoking2:before {
  content: "\e002";
}
.flaticon-sailing-boat:before {
  content: "\e003";
}
.flaticon-ship18:before {
  content: "\e004";
}
.flaticon-transport524:before {
  content: "\e005";
}
.flaticon-ship18-150:before {
  content: "\e004";
  font-size: 150px;
}

@media (max-width: 768px){
  .flaticon-ship18-150:before {
    font-size: 56px;
    margin-left: 0px;
  }
}
